<div class="list-group text-center mt-0">
<div href="#" class="list-group-item list-group-item active">
    <div class="row">
      <div class="col-md-1">
        TIME
      </div>
      <div class="col-md-3 border-left">
        FROM
      </div>
      <div class="col-md-3 border-left">
        TO
      </div>
      <div class="col-md-2 border-left">
        DURATION
      </div>
      <div class="col-md-1 border-left">
        ARRIVAL
      </div>
      <div class="col-md-2 border-left">
        BOOK
      </div>
    </div>
</div>
  <% Flight.where(from_id: params[:from_id], to_id: params[:to_id]).each do |f| %>
    <div href="#" class="list-group-item list-group-item-action flex-column">
    <div class="row">
      <div class="col-md-1">
        <%= f.depart_at.strftime("%H:%m") %>
      </div>
      <div class="col-md-3 border-left text-left">
        [<%= f.from_airport.code %>] <%= f.from_airport.full_name %>
      </div>
      <div class="col-md-3 border-left text-left">
        [<%= f.to_airport.code %>] <%= f.to_airport.full_name %>
      </div>
      <div class="col-md-2 border-left">
        <%= f.duration %> mins
      </div>
      <div class="col-md-1 border-left border-right">
        <%= (f.duration).minutes.after(f.depart_at).strftime("%H:%m")%>
      </div>
      <div class="col-md-1 m-auto">
    <%= form_tag :new_booking, method: :get,id: "new_booking_form" do |form| %>
      <div class="row pl-4">
        <%= hidden_field_tag :num_of_passengers, params[:num_of_passengers] %>
        <%= radio_button_tag :flight_id, f.id %>
        </div>
      </div>

      </div>
      </div>
      <input type="submit" value="Submit Booking" form="new_booking_form" class="btn btn-primary">
    <% end %>
  <% end %>
</div>